@page "/"

<PageTitle>ようこそ</PageTitle>


<center>
    <img src = "https://cdn.discordapp.com/attachments/926549421083197481/954772873447358485/kurosuma-logo.gif"  />
    <br/>
    <strong > Page still in development , i'm glad you came for see my projects, just wait to see the amazing things that i can do  </Strong>
</center>



<div class= "card-div-holder">




</div>





@code
{

    // String urls [] = { };


    public void ulr(){}


    /*
     * <h2> WEBDEV, Software engenier, Future IA DEV, Gamer</h2>
     * <h3>welcome to my page / ｳｪﾌﾞﾊﾟｹﾞようこそ</h3> 
     */



}